.kontener{
    background-color: black;
}
.side_information{
    background-color: white;
    height: 80vh;
    width: 300px;
    margin: 20px;
    border-radius: 15px;
    overflow: scroll;
    margin-left: 30px;
    margin-top: 20px;
    padding: 0px;
}


.Tradis, #box_tradis{
    background-color: #FEEE91;
}

.Komodo, #box_komodo{
    background-color: #f39c12;
}
.information{
    height: 300px;
    background-color: white;
    border-radius: 15px;
}
.header_side{
    color: black;
    background-color: rgb(230, 230, 230);
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    
}

.title_booking{
    font-size: 20px;

}

/* PENTING INI CSS UNTUK MENGHILANGKAN SCROLLBAR TAPI TETAP SCROLLABLE, BIAR ESTETIK */
.hidden-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}
/* =========================================================================== */
/* 
.hidden-scrollbar::-webkit-scrollbar {
    display: none;
} */

#box_tradis, #box_komodo{
    height: 50px;
    width: 50px;
    border: solid black 1px;
    border-radius: 15px;
}

.information_row{
}



/* #box_tradis{
    background-color: 
}

#box_komodo{
    background-color: 
} */